# Zen of Python

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Boolean

In [2]:
# True를 출력해 보세요.
True

True

In [3]:
# Ture는 1과 같음을 표현해 보세요.
True == 1

True

In [4]:
# False는 0과 같음을 표현해 보세요.
False == 0

True

In [5]:
# 하지만 True는 문자 1과는 다릅니다. 1을 따옴표로 감싸면 문자열이 됩니다.
True == "1"

False

In [6]:
# 문자열 1과 True는 다릅니다.
True

True

In [7]:
# False도 마찬가지입니다.
False == "0"

False

In [ ]:
# False는 문자열 0과 다릅니다.
False != "0"

In [8]:
# and 연산으로 True 값끼리 비교합니다.
True and True

True

In [9]:
# and는 조건 중 하나라도 False라면 False가 됩니다.
True and False

False

In [10]:
# or는 하나만 True라도 True가 됩니다.
True or False

True

# String and List

In [11]:
# "Hello World!"를 출력해 봅니다.
"Hello World!"

'Hello World!'

In [12]:
# 주소 "경기도 성남시 분당구"를 출력해 봅니다.
"경기도 성남시 분당구"

'경기도 성남시 분당구'

In [13]:
# til 이라는 변수에 문자열을 담아봅니다.
til = "Today I Learned"
til

'Today I Learned'

In [14]:
# 모두 소문자로 만들어 보세요.
til.lower()

'today i learned'

In [15]:
# 모두 대문자로 만들어 보세요.
til.upper()

'TODAY I LEARNED'

# Lists

In [16]:
# 비어있는 리스트를 만듭니다. lang이라는 변수에 담습니다.
lang = []
lang

[]

In [17]:
# python, java, c를 원소에 추가합니다.
lang.append("python")
lang.append("java")
lang.append("c")
lang

['python', 'java', 'c']

In [18]:
# lang이라는 변수에 담겨있는 언어명을 인덱싱을 통해 가져옵니다.
lang[0]

'python'

In [19]:
# 1번 인덱스를 가져옵니다.
lang[1]

'java'

In [20]:
# 마지막 인덱스를 가져옵니다.
lang[-1]

'c'

# 제어문(조건문, 반복문)

In [21]:
# 반복문을 통해 리스트의 원소를 하나씩 출력합니다.
for i in lang:
    print(i)

python
java
c

In [22]:
# 위 코드에서 python일 때는 그대로 출력하고 나머지 텍스트는 "기타"라고 출력합니다.
# 출력 결과가 아래의 순서로 나오도록 합니다.
# python
# 기타
# 기타
for i in lang:
    if i == "python":
        print("python")
    else:
        print("기타")

python
기타
기타

In [23]:
# 특정 횟수만큼 반복문을 실행하도록 합니다.
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
# for문과 if문을 함께 사용해 봅니다.
# 짝수일 때 python을 홀수일 때 java를 출력합니다.
for i in range(1, 10):
    if i % 2 == 0:
        print("python")
    else:
        print("java")

java
python
java
python
java
python
java
python
java

In [25]:
# enumerate를 사용하면 인덱스 번호와 원소를 같이 가져올 수 있습니다.
for i, val in enumerate(lang):
    print(i, val)

0 python
1 java
2 c

# 문자열

In [26]:
# 주소를 address 변수에 담습니다.
address = " 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층"
address

' 경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [27]:
# 앞뒤 공백을 제거합니다.
# 데이터 전처리 시 주로 사용합니다.
address = address.strip()
address

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [28]:
# 문자열의 길이
len(address)

33

In [30]:
# 공백으로 문자열 분리
address_list = address.split()
address_list

['경기도', '성남시', '분당구', '불정로', '6', 'NAVER', '그린팩토리', '16층']

In [31]:
# 리스트 길이
len(address_list)

8

# 슬라이싱, startswith, in을 통해 문자열에 경기가 있는지 확인하기

In [38]:
# 슬라이싱으로 문자 가져오기
address[:2]

'경기'

In [36]:
# startswith를 사용하면 특정 문자가 포함되는지 여부를 확인할 수 있습니다.
address.startswith("경기")

True

In [37]:
# in을 사용하게 되면 특정 문자열을 포함하고 있는지 여부를 확인할 수 있습니다.
"경기" in address

True

# 리스트

In [39]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 구를 가져와 gu라는 변수에 담아보세요.
gu = address_list[2]
gu

'분당구'

In [40]:
# 인덱싱으로 리스트의 원소 가져오기 - 주소에서 도로명을 가져와 street라는 변수에 담아보세요
street = address_list[3]
street

'불정로'

In [41]:
# 리스트의 마지막을 가져옵니다.
address_list[-1]

'16층'

In [42]:
# "  ".join(리스트)를 사용하면 리스트를 공백 문자열을 연결할 수 있습니다.
# 리스트로 분리된 문자열을 다시 연결합니다.
" ".join(address_list)

'경기도 성남시 분당구 불정로 6 NAVER 그린팩토리 16층'

In [43]:
# in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "경기"가 리스트에 포함되는지를 봅니다.
"경기" in address_list

False

In [44]:
# in을 사용하게 되면 리스트에 해당 데이터를 포함하고 있는지 여부를 확인할 수 있습니다.
# "분당구"가 리스트에 포함되는지를 봅니다.
"분당구" in address_list

True